<form>
    <div class="form-group">
        <label>Erlittener Schaden</label>
        <input type="number" name="damage" value="0" />
    </div>
    <div class="form-group">
        <label>Stufe Automatik</label>
        <input type="number" name="automatics" value="0" />
    </div>
    <div class="form-group">
        <label>Stufe Überladen</label>
        <input type="number" name="overcharge" value="0" />
    </div>
    <div class="form-group">
        <label>Salve?</label>
        <input type="checkbox" name="isSalve"/>
    </div>
    <div class="form-group">
        <label>Schildbrecher?</label>
        <input type="checkbox" name="isShieldbreaker" />
    </div>
    <div class="form-group">
        <label>wirkende Panzerung</label>
        <input type="number" name="armor" value="0" />
    </div>
    <div class="form-group">
        <label>Gehärtete Panzerung?</label>
        <input type="checkbox" name="hasHardenedArmor" />
    </div>
    <div>
        Wirkende Panzerung ist bereits um den Durchschlag reduziert.
    </div>
    <br>
</form> 